.a {
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}
.navbar {
    background-color: turquoise;
    height: 4vw;
}

.nav li {
    display: inline-block;
    padding-left: 3vw;
    padding-right: 3vw;
}

.nav a {
    color: black;
    text-decoration: none;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}


.btn {
    background-color: lightblue;
    margin: 1vw;
    border-width: 0.2vw;
    border-color: black;
}

.post-box {
    display: block;
    margin-top: 2vh;
    text-align: center;
}

.inside-post {
    display: block;

}

.post {
    border-color: turquoise;
    border: 1px;
    position: absolute;
    left: 40%;
}

.post-input {
    height: 20vh;
    width: 25vh;
}

.container {
    height: 100%;
    width: 100%;
}

#app {
    background-color: rgb(240,240,240);
}